<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.grainne.scout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MatchScoutStronghold"
            android:label="@string/title_activity_match_scout_stronghold"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PitScoutStronghold"
            android:label="@string/title_activity_pit_scout_stronghold"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PitConfirmation"
            android:label="@string/title_activity_pit_confirmation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StrongholdMenu"
            android:label="@string/title_activity_stronghold_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MatchConfirmation"
            android:label="@string/title_activity_match_confirmation"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>